<mat-toolbar color="primary">
  <mat-toolbar-row>

  
    <span>
      Konex
    </span>
  
  
    <span class="example-spacer"></span>
  
    <button matTooltip="Crear medicamento" mat-icon-button [routerLink]="[ '/create']" aria-label="Example icon-button with a menu">
      <mat-icon>medical_services
      </mat-icon>
    </button>
    <button matTooltip="Ver medicamentos"  mat-icon-button [routerLink]="[ '/']" aria-label="Example icon-button with a menu">
      <mat-icon>vaccines
      </mat-icon>
    </button>
    <button matTooltip="Ver ventas"  mat-icon-button [routerLink]="[ '/']" aria-label="Example icon-button with a menu">
      <mat-icon>sell</mat-icon>
    </button>
  
  
  </mat-toolbar-row>
  </mat-toolbar>
  
  
  
  
  