/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.spinner {
  margin: 0 auto;
  padding-top: 40px;
  display: inline-block;
}

.mat-drawer-content{
  overflow: hidden !important;
}


